*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

.cardsbackground{
    background-color: rgb(255, 255, 255);
   
}
button{
    margin: 3px;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card1{
    margin:50px
}
.head h1{
    padding-top: 50px;
    margin-left: 880px;
    font-weight: bold;

}